<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Summaritizer</strong> is built with &#128153;&nbsp;&#128154;</p>
    <p>It wouldn't have been possible without these awesome projects
      <strong>
        <a target="_blank" href="https://github.com/sparksuite/simplemde-markdown-editor">SimpleMDE - Markdown Editor</a>,
        <a target="_blank" href="https://github.com/markedjs/marked">Marked</a> & 
        <a target="_blank" href="https://github.com/highlightjs/highlight.js">highlight.js</a>
      </strong>
      . Make sure to also check these out if you have some time to spare.
    </p>
  </div>
</footer>
