<header id="particles-js">
  <div class="page-heading">
    <p>Summaritizer</p>
    <p id="sub">
      <span>Wanna share some ideas?</span> <br>
      Whats better than markdown to write, and share them
    </p>
  </div>
</header>
<section class="hero is-medium">
  <h1 class="title">Why Markdown?<h1>
      <h3 class="subtitle">
	Markdown is a plain text formatting syntax aimed at making writing for the internet easier. Its simple to learn and its more pleasing to read, giving your readers a great experience. Check out the popular <a target="_blank" href="https://docs.github.com/en/github/writing-on-github/basic-writing-and-formatting-syntax">Github Flavoured Markdown</a> to learn about markdown syntax.
      </h3>
      <hr>
      <h2 class="title">What exactly is Summaritizer?</h2>
      <p class="subtitle">With Summaritizer you can share your ideas in form of markdown and that too for a limited time. Currently we support content saving upto <i>24 hours</i>. Though you can update the content you cannot change the time limit, so think it through while setting the amount of time it will be saved for. At present there is no support for <strong>emoji</strong>, but we plan to add it soon.</p>
      <hr>
</section>
